
<section id="about" class="px-2">

    <!-- <img class="d-block mx-auto mb-1" src="{{ url_for('static', filename='img/vsinagldev2.png') }}" alt="" width="118" height="138"> -->
  <!-- <h1 class="display-6 fw-bold font-monospace"> <pre> <code> $whoami </code></pre> </h1>
    <div class="col-lg-9 mx-auto">
      <p class="lead mb-4"> Hello 👋, <br> I'm Viktor Šinágl, a tech enthusiast and vsinagl.dev is my digital hub where I share: <br>
             📝 Blog posts on Python, Data analysis, Flask, AI, LLM and 42 school projects! <br>
             🚀 Some of my projects <br>
             💡 My ideas, insights and tutorials <br>
          Whether you're a fellow developer or just curious, I hope there's something here for you!
           <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
</section> -->

  <div class="container col-xxl-8 px-2 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-6 py-3">
      <div class="col-9 col-sm-5 col-lg-5">
        <img src="{{ url_for('static', filename='img/vsinagldev2.png') }}" class="d-block mx-lg-auto img-fluid" alt="Profile Picture" width="400" height="500" loading="lazy">
      </div>
      <div class="col-lg-7">
        <h1 class="display-7 fw-bold lh-1 mb-3 gradient-header"> $whoami test 2</h1>
        <p class="lead">Hello 👋 <br> My name is Viktor Šinágl. I'm a tech enthusiast and vsinagl.dev is my digital hub where I share: <br>
          <ul class="lead">
            <li> 📝 Blog posts on Python, Data analysis, Flask, AI, LLM and 42 school projects!</li>
            <li>🚀 My projects </li>
            <li>💡 Ideas, insights and tutorials </li>
          </ul>
          <!-- <p class="lead"> Whether you're a fellow developer or you are just curious, I hope there's something here for you!</p> -->

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
</section>


