{% extends "partials/base.html" %}

{% block navbar %}
  {% with header_content = '
      <a href="' ~ url_for('views.home') ~ '" class="btn btn-primary px-4 me-md-2 ms-auto" role="button">Homepage</a>
  ' %}
    {% include 'partials/header.html' %}
  {% endwith %}
{% endblock %}

{% block hero %}
<div class="container-md">
<section id="vsinagldev-login-logo" class="px-2  mt-2 mb-3 text-center">

    <img class="d-block mx-auto mb-1" src="{{ url_for('static', filename='img/vsinagldev_small.png') }}" alt="" width="95" height="110">
</section>
</div>
{% endblock %}

{%block main_body %}
<section class="vh-100 gradient-custom">
    <div class="row d-flex justify-content-center align-items-top h-100 pt-2 pb-2">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card login_banner " style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase responsive-heading mb-2">Contact me by email: </h2>
			  <p class = "lead responsive-text"> viktor.sinagl@gmail.com </p>
			  <hr>

              <h2 class="fw-bold mb-2 text-uppercase responsive-heading mb-2">Or leave me a message 😎 </h2>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-danger" role="alert">
                        {{message}}
                      </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}

				  <form method="post" action="/user/contact">
						<div class="mb-4">
  							<label for="name" class="form-label responsive-text">Your name:</label>
  							<input id="name" name="name"  class="form-control responsive-text"  placeholder="John Doe">
						</div>
				  
						<div class="mb-4">
  							<label for="email" class="form-label responsive-text">Email address:</label>
  							<input id="email" name="email" class="form-control responsive-text"  placeholder="name@example.com">
						</div>

						<div class="mb-4">
						  <label for="message" class="form-label responsive-text"> Your message: </label>
						  <textarea class="form-control responsive-text" id="message" name="message" rows="5"></textarea>
						</div>

				      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 responsive-button" type="submit">Send </button>
				  </form>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}