
<section id="about" class="px-2">


  <div class="container col-xxl-8 px-2 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-6 py-3">
      <!-- todo: foto
      <div class="col-9 col-sm-5 col-lg-5">
        <img src="{{ url_for('static', filename='img/vsinagldev2.png') }}" class="d-block mx-lg-auto img-fluid" alt="Profile Picture" width="400" height="500" loading="lazy">
      </div>
      <div class="col-lg-7"> -->
        <h1 class="display-7 fw-bold lh-1 mb-3 gradient-header"> About</h1>
        <p class="lead responsive-text">Hello 👋 <br> My name is Viktor Šinágl. I'm a tech enthusiast and vsinagl.dev is my digital hub where I want to share: <br>
          <ul class="lead responsive-text">
            <li> 📝 Blog posts on stuff that I am interested in!</li>
            <li>🚀 My projects </li>
            <li>💡 Ideas, insights and tutorials </li>
          </ul>
          <!-- <p class="lead"> Whether you're a fellow developer or you are just curious, I hope there's something here for you!</p> -->

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href=" {{ url_for('user.contact') }}" role="button" class="btn btn-primary responsive-button btn-lg px-4 me-md-2">Contact me</a>
          <!-- <button type="button" class="btn btn-outline-secondary responsive-button px-4">Github</button> -->
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
