<div class="container footer">
  <div class="d-flex flex-wrap justify-content-between align-items-center py-4 pt-4 ">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="d-block mx-auto mb-1" src="{{ url_for('static', filename='img/vsinagldev2.png') }}" alt="" width="69" height="80">
      </a>
      <span class="mb-3 mb-md-0  display-8">&copy; Viktor Sinagl {{now}} </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a href="https://www.linkedin.com/in/viktor-šinágl-693579237" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='img/linkedin.svg') }}" 
                    alt="LinkedIn" 
                    class="bi icon-linkedin" 
                    width="35" 
                    height="35">
            </a>
        </li>
        <li class="ms-3">
            <a href="https://github.com/vsinagl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='img/github.svg') }}" 
                    alt="GitHub" 
                    class=" white-icons" 
                    width="35" 
                    height="35">
            </a>
        </li>
    </ul>
  </div>
</div>
